@charset "UTF-8";

.curriculo-sobre-titulo {
    font-family: var(--font02);
    font-weight: 700;
    font-size: 32px;
    color: var(--cor01);
    padding: 20px 30px;
    margin-top: 50px;
}

.curriculo-principal {
    padding: 0 20px;
}

.curriculo-principal-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px var(--cor06) solid;
}

.curriculo-principal-titulo {
    font-family: var(--font02);
    font-weight: 700;
    font-size: 22px;
    color: var(--cor01);
}

.curriculo-principal-subtitulo {
    font-family: var(--font01);
    font-weight: 300;
    font-size: 18px;
    color: var(--cor04);
}

.curriculo-destaque {
    font-family: var(--font01);
    font-weight: 500;
    font-size: 14px;
    color: var(--cor06);
    padding-left: 10px;
}

.curriculo-principal-experiencia {
    font-family: var(--font01);
    font-weight: 300;
    font-size: 18px;
    color: var(--cor01);
}

.curriculo-secundario {
    padding: 0 20px;
}

.curriculo-terciario {
    padding: 0 20px;
}