@charset "UFT-8";

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.conteudo-sobre-titulo {
    font-family: var(--font02);
    font-weight: 700;
    font-size: 32px;
    color: var(--cor01);
    padding: 20px 30px;
}

.conteudo-principal-site {
    display: flex;
    flex-direction: column;
    background-color: var(--cor02);
    border-left: var(--cor06) solid 10px;
    padding: 10px;
}

.conteudo-principal-site:hover {
    border-left: var(--cor04) solid 10px;
}

.conteudo-principal-descricao {
    font-family: var(--font01);
    font-weight: 500;
    font-size: 14px;
    color: var(--cor04);
    padding-bottom: 5px;
}

.conteudo-principal-titulo {
    font-family: var(--font02);
    font-weight: 700;
    font-size: 22px;
    color: var(--cor01);
}

.conteudo-principal-imagem {
    height: 200px;
    padding: 15px;
}

.conteudo-principal-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font01);
    font-weight: 500;
    font-size: 18px;
    color:var(--cor05);
    padding-right: 15px;
    padding-bottom: 5px;
}
