@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Rubik:wght@700&display=swap');

:root {

    --cor01: #f3f3f3;
    --cor02: #292A73;
    --cor03: #1A1B4B;
    --cor04: #F7A400;
    --cor05: #3A9EFD;
    --cor06: #3E4491;

    --font01: 'Roboto Mono', monospace;
    --font02: 'Rubik', sans-serif;
    --font03: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1200px;
    margin: auto;
    font-size: 100%;
    background: linear-gradient(281.8deg, var(--cor03) 0%, var(--cor02) 100%);
    background-size: 100vw;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
}

.cabecalho-escrito {
    display: flex;
    flex-direction: row;
    align-items: end;
    color: var(--cor01);
}

.cabecalho-titulo {
    font-family: var(--font02);
    font-weight: 700;
    font-size: 58px;
}

.cabecalho-subtitulo {
    font-family: var(--font01);
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 11px;
    padding-left: 6px;
}

.cabecalho-menu {
    display: flex;
    gap: 35px;
    padding-bottom: 11px;
    padding-right: 30px;
}

.cabecalho-menu-lista {
    list-style: none;
    display: flex;
    gap: 25px;
}

.cabecalho-menu-item {
    font-family: var(--font01);
    font-weight: 500;
    font-size: 18px;
    transition: .8s;
}

.cabecalho-menu-item a {
    color: var(--cor01);
    transition: 0,25s ease;
}

.cabecalho-menu-item a:hover {
    color: var(--cor04);
    text-decoration: underline;
}

.cabecalho-menu-item:hover {
    transform: translate(-3px,-3px);
    transform: trasition .8s;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.cabecalho-menu-imagem {
    display: none;
    filter: brightness(0);
}

.rodape {
    padding: 48px;
}

.rodape-titulo {
    text-align: center;
    font-family: var(--font01);
    font-weight: 300;
    color: var(--cor01);
}

.top {
    position: fixed;
    top: 85vh;
    left: 85vw;
    background-color: var(--cor02);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.5em;
    color: var(--cor01);
    transition: .8s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.top:hover {
    color: var(--cor02);
    background-color: var(--cor04);
}

@media (max-width: 600px) {
    .escrito-item {
        display: none;
    }

    .cabecalho-menu-imagem {
        display: flex;
        width: 35px;
    }

    .cabecalho-menu-imagem:hover {
        filter: none;
    }
}

@media (max-width:320px){

    .escrito-item {
        display: none;
    }

    .cabecalho-menu-lista {
        position: absolute;
        display: block;
        top: 4%;
        right: 5%;
    }

    .cabecalho-menu-item {
        padding-bottom: 15px;
    }

    .cabecalho-menu-imagem {
        display: flex;
        width: 35px;
    }

    .cabecalho-menu-imagem:hover {
        filter: none;
    }
}